.bloque-texto-b i:last-of-type
  vertical-align: top

.contenedor
  .hr
    width: 85%
    margin: 16px
  .recuadro
    &_imagen
      display: flex
      img 
        width: 70px

.contenedor-B
  .hr
    width: 85%
    margin: 15px
  .recuadro
    &_imagen
      display: flex
      svg 
        width: 14% !important

.fa-check
  color: #f579a8

.lista-ol--cuadro__vineta
  margin-right: 16px !important
.v-line_container
  position: relative
  &::before
    content: ""
    position: absolute
    top: 0
    left: 10px
    width: 3px
    height: 100%
    background-color: #f579a8
    z-index: 0



.tabs-b__tab__icon
  width: 100px !important

.cajon.color-acento-contenido  
  background-color: #ffdae8

.pasos-a.color-acento-contenido .pasos-a__circle div
  color: #ffffff

.anexo__icono
  width: 500px !important
  top: 8px !important
.tarjeta.tarjeta--azul
  background-color: #e9f1ff

  
@media screen and ( max-width: $bp-max-xs )
  .contenedor-B
    .hr
      width: 85%
      margin: 15px
    .recuadro
      &_imagen
        display: flex
        svg 
          width: 25% !important
    
@media screen and ( max-width: $bp-max-sm )
  .contenedor-B
    .hr
      width: 85%
      margin: 15px
    .recuadro
      &_imagen
        display: flex
        svg 
          width: 40% !important
          margin-right: 10px